#
# MARS configuration
#

config MARS
	tristate "storage system MARS (EXPERIMENTAL)"
	default n
	---help---
	Experimental storage System. Only compile as modules!

config MARS_BIGMODULE
	tristate "compile all MARS modules into a single kernel module"
	depends on MARS
	default m
	select MARS_HAVE_BIGMODULE
	---help---
	Experimental storage System. Only compile as modules!

config MARS_MEM_PREALLOC
	bool "avoid memory fragmentation by preallocation (EXPERIMENTAL)"
	depends on MARS
	default y
	---help---
	Experimental storage System.

config MARS_HUNG
	bool "hangup on kernel stacktrace (EXPERIMENTAL!!!)"
	depends on MARS && MARS_BIGMODULE!=m
	default n
	---help---
	Experimental storage System.

config MARS_LOGROT
	bool "allow logrotate during operation (only for testing)"
	depends on MARS
	default y
	---help---
	Experimental storage System.

config MARS_MIN_SPACE
	bool "check for filesystem overflow in /mars (EXPERIMENTAL)"
	depends on MARS
	default y
	---help---
	Experimental storage System.

config MARS_PREFER_SIO
	bool "prefer sio bricks instead of aio (EXPERIMENTAL)"
	depends on MARS
	default y
	---help---
	Experimental storage System.

config MARS_DUMMY
	tristate "MARS dummy brick"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_CHECK
	tristate "MARS check brick"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_IF
	tristate "interface to a linux device"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_BIO
	tristate "interface to blkdev via kernel BIO"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_AIO
	tristate "interface to a linux file (Asynchronous IO)"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_SIO
	tristate "interface to a linux file, synchronous (currently unused)"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_BUF
	tristate "buffer brick (currently unused)"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_USEBUF
	tristate "usebuf brick (currently unused)"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_TRANS_LOGGER
	tristate "transaction logger"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_SERVER
	tristate "server brick"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_CLIENT
	tristate "client brick"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_COPY
	tristate "copy brick"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

config MARS_LIGHT
	tristate "MARS Light main (protoype, will be replaced)"
	depends on MARS && MARS_BIGMODULE!=m
	default m
	---help---
	Experimental storage System.

# the following is used as an internal proprocessor symbol

config MARS_HAVE_BIGMODULE
	bool

