#
# MARS configuration
#
config MARS
	tristate "storage system MARS"
	default n
	---help---
	Experimental storage System.

config MARS_DUMMY
	tristate "MARS dummy brick"
	depends on MARS
	default m
	---help---
	Experimental storage System.

config MARS_IF_DEVICE
	tristate "interface to a linux device"
	depends on MARS
	default m
	---help---
	Experimental storage System.

config MARS_DEVICE_SIO
	tristate "interface to a linux file, synchronous"
	depends on MARS
	default m
	---help---
	Experimental storage System.

config MARS_TEST
	tristate "provisionary TEST"
	depends on MARS
	default m
	---help---
	Experimental storage System.
