[Unit]
Description=MARS systemd trigger service from /mars/userspace/systemd-trigger
Documentation=https://github.com/schoebel/mars/docu/mars-manual.pdf

[Service]
Type=oneshot
RemainAfterExit=no
KillMode=none
ExecStart=/usr/local/bin/marsadm systemd-trigger

[Install]
WantedBy=mars.service
